# Ensure all text files use normalized line endings (LF)
* text=auto

# Explicitly set handling for specific files
core/templates/core/home.html -text

# Ensure permissions changes are ignored for all files
* -crlf